#content {
	margin: 20px auto 0 auto;
	text-align: center;
	width: 950px;
}

#arena {
	border: 1px solid #000;
	margin: 0 auto;
	
	cursor: crosshair;
}

#results {
	margin: 0 auto;
	width: 500px;
	font-size: 1.5em;
	color: #1BA5E0;
	font-weight: bold;
	text-align: center;
}

#results button {
	margin-top: 10px;
}

#instructions, #arena {
	display: inline-block;
	text-align: left;
	margin-top: 0;
	padding-top: 0;
}

#instructions {
	width: 300px;
	position: relative;
	bottom: 40px;
}

#instructions h3, #instructions h4 {
	color: #1BA5E0;
}

#noPlayer2 {
	text-align: center;
	margin: 0 auto;
}
