#content {
	margin: 20px auto 0 auto;
	text-align: center;
	width: 900px;
}

#arena {
	border: 1px solid #000;
	margin: 0 auto;
	
	cursor: crosshair;
}

#results {
	margin: 0 auto;
	width: 500px;
	font-size: 1.5em;
	color: #1BA5E0;
	font-weight: bold;
	text-align: center;
}

#results button {
	margin-top: 10px;
}

#noPlayer2 {
	text-align: center;
	margin: 0 auto;
}
