#content {
	width: 900px;	
}

input {
	display: block;
}

#forgotPasswordLink {
	font-size: .8em;
	display: block;
	margin-top: -5px;
}

input[type=submit] {
	margin-top: 20px;
}

.error {
	margin-bottom: 10px;
}
