input:not([name=captcha_code]), #captcha {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
}

img {
	padding: 0;
	margin: 0;
}

#content {
	width: 900px;
}

#logoPane, #registration {
	float: left;
	padding: 0;
}

#logoPane {
	margin-right: 100px;
}

#registration {
	text-align: left;
}

input[type=submit] {
	display: block !important;
	margin-top: 10px;
}

.ui-icon {
	display: inline-block;
}
