/**
 * 	General style for all pages
 */

body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 1em;
}

header, footer {
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

.error {
	font-size: .9em;
	color: red;
}
