/**
 * 	General style for all pages
 */

body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 1em;
}

#content {
	margin: 20px auto 0 auto;
}

a, a:visited {
	color: #1BA5E0;
	text-decoration: none;
}

.error {
	font-size: .9em;
	color: red;
}

/**
 * 	Form labels should be small and bold
 */
label {
	font-weight: bold;
	font-size: .9em;
}

/**
 * 	Format form fields to be easy on the eyes
 */
input[type=text], input[type=password] {
	font-size: 1.1em;
	padding: 4px;
	border-radius: 5px;
	border-style: solid;
	border-color: #aaa;
	
	margin-top: 5px;
	margin-bottom: 10px;
}

/**
 * 	Make currently selected field have a gentle outline
 */
input[type=text]:focus, input[type=password]:focus {
	border-color: #1BA5E0;
}

.big-logo {
	height: 400px;
	width: 400px;
	margin-bottom: -100px;
	margin-top: -50px;
	z-index: -1;
	pointer-events: none; /* so can click through image */
}